body{
  margin:0;
  font-family:Arial;
  min-height:100vh;

  background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("bg.jpg"); 

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}